/* @import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans:wght@700&display=swap'); */


body {
    font-family: 'Lato', sans-serif;
    background-color: white;
    max-width: 800px;
    margin: 2em auto;
}

header,
footer {
    padding: 1rem;
    border-radius: .35rem;
    background-color: #71D5FF;
    color: black;
    box-shadow: 3px 3px 10px -1px rgba(0, 0, 0, 0.75);
    text-align: center;
}

.icon {
    max-width: 50%;
}

h1,
h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    margin-left: .5em;
}

p {
    margin-left: 1.6em;
}

main {
    padding: .5rem;
}

nav ul {
    list-style: none;
    flex: 3;
    background-color: #4565FF;
    color: #fff;
    margin-top: 0;
    border-radius: .35rem;
    box-shadow: 3px 3px 10px -1px rgba(0, 0, 0, 0.75);
}

nav a {
    text-decoration: none;
}

nav a:link,
nav a:visited {
    color: #fff;
}

nav a:hover {
    color: #4565FF;
    background-color: #fff;
    font-weight: bold;
}

li {
    padding: 2.5px;
}

footer {
    text-align: center;
}

footer a {
    color: black;
}

.updateline {
    color: #404040;
}