/* large screens */
@media only screen and (min-width: 510px) {
    .grid-box {
        display: block;
    }
    nav ul {
        flex-direction: row;
    }
    nav a {
        font-size: 1.5em;
        padding: 0;
    }
    .personas {
        display: block;
    }
    .color {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        height: 450px;
        font-size: 20px;
        border-style: solid;
    }
}
