@media screen and (min-width: 500px) {
    .grid-box {
        display: block;
    }
    nav ul {
        
        flex: 0;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(5em, 1fr));
    }
}