/* medium and tablet screens */
@media only screen and (min-width: 690px) {
    .grid-box {
        display: block;
    }
    nav a {
        font-size: 1.5em;
        padding: 0;
    }
    .color {
        grid-template-columns: none;
        grid-template-rows: repeat(5, 1fr);
        height: auto;
    }
    .active, nav a:hover {
        background-color: initial;
    }
}