@media screen and (max-width: 690px) {
    .grid-box {
        display: block;
    }
    nav ul {
        flex: 0;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(5em, 1fr));
    }
    nav a {
        font-size: 1.5em;
        padding: 0;
    }
    .color {
        grid-template-columns: none;
        grid-template-rows: repeat(5, 1fr);
        height: auto;
    }
    .colortext {
        font-size: 30px;
    }
    .active, nav a:hover {
        background-color: initial;
    }
    li p {
        line-height: 1em;
    }

}