@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans:wght@300&family=Roboto&display=swap');


body {
    font-family: 'Lato', sans-serif;
    background-color: white;
    max-width: 920px;
    margin: 0 auto;
}

.content {
    margin: 0 auto;
    width: 920px;
}

header,
footer {
    padding: 1rem;
    border-radius: .35rem;
    background-color: #71D5FF;
    color: black;
    box-shadow: #404040;
}

header h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    margin-left: 3rem;
}

header img {
    max-width: 300px;
    float: right;
    border-radius: .25em;
}

main {
    padding: .5rem;
}

footer {
    text-align: center;
}