@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans:wght@700&display=swap');


body {
    font-family: 'Lato', sans-serif;
    background-color: white;
    max-width: 800px;
    margin: 2em auto;
}

header,
footer {
    padding: 1rem;
    border-radius: .35rem;
    background-color: #71D5FF;
    color: black;
    /* box-shadow: ; */
}

header h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    margin-left: 32px;
}
h2 {
    margin-left: 12px;
}
header img {
    max-width: 250px;
    float: right;
    border-radius: .35em;
    /* box-shadow: ; */
}

main {
    padding: .5rem;
}

li {
    padding: 2.5px;
}

li a {
    color: #875AFF;
}

footer {
    text-align: center;
}
footer a {
    color: black;
}
.updateline {
    color: #404040;
}