/* @import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans:wght@700&display=swap'); */


body {
    font-family: 'Lato', sans-serif;
    background-color: white;
    max-width: 800px;
    margin: 2em auto;
}

header,
footer {
    padding: 1rem;
    border-radius: .35rem;
    background-color: #71D5FF;
    color: black;
    box-shadow: 3px 3px 10px -1px rgba(0, 0, 0, 0.75);
    text-align: center;
}

header h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    margin-left: 32px;
}
h2 {
    font-size: 2em;
}

main {
    padding: .5rem;
    display: grid;
    grid-template-columns: repeat(3,250px);
    grid-gap: 10px;
    max-width: 800px;
}
section {
    margin: 10px;
    text-align: center;
    background-color: lightgrey;
    border-radius: 25px;
    box-shadow: 3px 3px 10px -1px rgba(0, 0, 0, 0.75);
}
.lesspadding {
    
}
img {
    max-width: 100%;
}
li {
    padding: 2.5px;
}

footer a {
    color: black;
}
.updateline {
    color: #404040;
}