body {
    justify-content: center;
    margin: 2em auto;
    display: flex;
    font-family: 'Ubuntu', sans-serif;
}

table {
    text-align: center;
    border-spacing: 0;
    border: .5px solid gray;
    box-shadow: 10px 10px 11px 1px rgba(143,154,163,1);
}

td, th {
    border: 1px solid rgb(204, 204, 204);
    padding: 8px;
}
th {
    color: black;
}

tbody tr {
    background: #e7f0ed;
}

tr:nth-child(even) {
    background-color: #e7ffed;
}
thead {
    font-size: 1.7em;
    font-weight: bold;
}
thead, #novgoal {
    background: #628ca6;
    color: white;
}
tfoot {
    color: black;
    background: #7fb9c2;
    
    font-size: .7em;
}