/* tablet windows */
@media only screen and (min-width: 40em) {
    header {
        display: flex;
    }
    .navbar {
        display: flex;
    }
    .navbar li {
        display: block;
        flex: 1 1 auto;
    }
    .navbar a {
        text-align: center;
    }
    .navbar li:first-child {
        display: none;
    }
    .forecast {
        display: table;
    }
    #weathersummary {
        top: 32px;
        left: 40px;
        max-width: 250px;
    }
}