/* big windows */
/* defaults */
body {
    font-family: 'Neuton', serif;
    background-color: white;
    margin: 0 auto;
}
aside {
    background-color: #83FFF3;
    margin: 0 auto;
    text-align: center;
    padding: 15px;
    box-shadow: 0px 3px 19px -3px rgba(0,0,0,0.71);
}
aside p {
    margin: 0;
}
header,
footer {
    padding: 1rem;
    color: black;
    text-align: center;
}
header {
    background-color: #b5ff97;
    justify-content: center;
}
.icon {
    width: 146px;
}

h1 {
    font-family: 'Russo One', sans-serif;
}
h2, h3 {
    margin-left: .5em;
    font-family: 'Taviraj', serif;
    text-align: center;
}
h3 {
    text-align: left;
    padding-left: .5em;
}
p {
    margin-left: 1.6em;
    font-size: 18px;
    line-height: initial;
}
li p {
    margin-left: 0;
    line-height: 1em;
}
/* navagation */
nav {
    margin: 0 auto;
    background-color: #6BE871;
}
.navbar {
    list-style: none;
    padding: 0;
    max-width: 970px;
    margin: auto;
}
.navbar li:first-child {
    display: block;
    font-weight: bold;
}
.navbar li {
    display: none;
}
.navbar a {
    display: block;
    text-decoration: none;
    color: black;
    padding: .6em;
    font-size: larger;
}
.navbar a:hover {
    color: black;
    font-weight: bold;
    border-radius: .75rem;
}
.responsive li {
    display: block;
}
.active {
    color: black;
    font-weight: bold;
    border-radius: .75rem;
}

/* content */
main section {
    margin: 9px auto;
    padding: 1px;
}
/* weather summary */
.summary {
    position: relative;
}
.summary img {
    max-width: 100%;
    border: 3px solid;
    border-radius: 15px;
    box-shadow: 0px 1px 12px 0px rgba(0,0,0,0.71);
}
#weathersummary {
    position: absolute;
    top: -15px;
    left: 10px;
    max-width: 70%;
    background-color: white;
    padding-right: .7em;
    border: 1px solid;
    box-shadow: 0px 3px 19px -3px rgba(0,0,0,0.71);
    border-radius: 10px;
}
#weathersummary p, #weathersummary h3 {
    margin: .3em;
    font-size: 1em;
}
/* 5 day forcast */
.forecast {
    display: none;
    text-align: center;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0px 1px 12px 0px rgba(0,0,0,0.71);
}
table {
    border-spacing: 0px;
    border: 1px solid;
    margin: auto;
}
tr td, tr th {
    border: 2px solid;
    padding: 1em;
    background: #e4e4e4;
}
/* article */
/* .article {

} */
.article img {
    float: none;
    max-width: 100px;
}
/* map and contact info */

/* footers */
.mapcontact {
    margin-bottom: 0;
}
footer {
    background-color: #6BE871;
}
footer a {
    color: black;
}
footer p {
    margin-left: 0;
}
.updateline {
    color: #404040;
}