
/* tablet windows */
@media only screen and (min-width: 560px) {
    header {
        display: flex;
    }
    .navbar {
        display: flex;
    }
    .navbar li {
        display: block;
        flex: 1 1 auto;
    }
    .navbar a {
        text-align: center;
    }
    .navbar li:first-child {
        display: none;
    }
/* home page  */
    .cards {
        grid-template-columns: 1fr;
    }
    .cards section div:nth-child(odd) {
        flex-direction: row;;
    }
    .cards section {
        display: flex;
    }
    .cards section:nth-child(even) {
        flex-direction: row-reverse;
    }


/* weather pages  */
    .forecast {
        display: table;
    }
    #weathersummary {
        position: absolute;
        top: 10px;
        left: 40px;
        max-width: 250px;
    }
    #weathersummary p, #weathersummary h3{
        margin: .2em;
        font-size: larger;
    }
    .summary img {
        width: 900px;
    }
    .article img {
        float: right;
        margin-left: 1em;
        width: 300px;
    }
    .mapcontact {
        flex-direction: row;
    }
    .mapcontact div {
        margin: 1em auto;
    }
    .mapcontact h3 {
        margin-left: 1em;
    }
    .contact p {
        margin-top: 5em;
    }
    .socials a img {
        width: 47px;
    }
    .map {
        display: block;
    }
/* gallery */
    .gal-grid {
        grid-template-columns: 1fr 1fr;
    }
}