/* large windows */
@media only screen and (min-width: 840px) {
    .homemain {
        max-width: none;
    }
    .cards {
        grid-template-columns: 1fr 1fr 1fr;
        text-align: center;
    }
    #weathersummary {
        float: right;
        margin: 1em;
    }
    .cozumelinfo {
        text-align: left;
        text-decoration: initial;
    }
    .cozumelinfo ul {
        list-style: inherit;
        margin-left: 2em;
    }
    .cozumelinfo img {
        float: right
    }
    .contactinfo {
        flex-direction: row;
    }
}