
/* tablet windows */
@media only screen and (min-width: 560px) {
    header {
        display: flex;
    }
    .navbar {
        display: flex;
    }
    .navbar li {
        display: block;
        flex: 1 1 auto;
    }
    .navbar a {
        text-align: center;
    }
    .navbar li:first-child {
        display: none;
    }
    .cards {
        grid-template-columns: 1fr 1fr;
        margin: 2em;
    }
    .socials a img {
        width: 47px;
    }
/* home page  */

}