/* small and standard view */

body {
    font-family: 'Taviraj', serif;
    background-color: white;
    margin: 0 auto;
    max-width: 1000px;
    /* Sonsie One', 'Gugi', 'Taviraj */
}
aside {
    background-color: #052142;
    color: white;
    margin: 0 auto;
    text-align: center;
    padding: 15px;
    box-shadow: 0px 3px 19px -3px rgba(0,0,0,0.71);
}
aside p {
    margin: 0;
}
header,
footer {
    padding: 1rem;
    color: white;
}
header {
    background-color: #05123B;
    justify-content: center;
    padding: 2em;
    display: flex;
}
header div {
    padding-top: 1.5em;
}
/* .titlecard {
    padding: 1em;
} */
main {
    padding: 0 .5em;
}
.icon {
    max-width: 150px;
    padding: 2em;
}

h1 {
    font-family: 'Sonsie One', 'Gugi', cursive;;
}
h2, h3 {
    margin-left: .5em;
    font-family: 'Gugi', cursive, 'Sonsie One';
    text-align: center;
}
h3 {
    text-align: left;
    padding-left: .5em;
}
p {
    margin: 1.6em;
    font-size: 18px;
    line-height: initial;
}
li p {
    line-height: 1em;
}
/* navagation */
nav {
    margin: 0 auto;
    background-color: #025780;
}
.navbar {
    list-style: none;
    padding: 0;
    max-width: 970px;
    margin: auto;
}
.navbar li:first-child {
    display: block;
    font-weight: bold;
}
.navbar li {
    display: none;
    
}
.navbar a {
    display: block;
    text-decoration: none;
    color: black;
    padding: .6em;
    font-size: larger;
    border-radius: .75rem;
    color: white;
}
.navbar a:hover {
    font-weight: bold;
    /* color: white; */
}
.responsive li {
    display: block;
}
.active {
    color: black;
    font-weight: bold;
}

/* content */
main section {
    margin: 25px auto;
    padding: 1px;
}
#weathersummary {
    border: 1px solid black;
    width: 300px;
    margin: 1em auto;
    padding: 1em;
    float: none;

}
#weathersummary p, h3 {
    padding: 5px;
    margin: 0;
    text-align: center;
}
th p {
    margin: 0;
}
.prices {
    max-width: 90%;
    border: 1px solid black;
    /* shaddow */
}
.prices table {
    border-spacing: 0px;
    padding: 1em;
    
}
.prices td, th, p {
    /* border: 1px solid black; */
    text-align: center;
}
.prices th p {
    max-width: 116px;
}
.cards {
    display: grid;
    grid-template-columns: 1fr;
    margin: 1em;
}
.cards section {
    border: 1px solid black;
    margin: 0;
    padding: .25em;
    text-align: center;
}
.cardpic {
    max-width: 80%;
}

/* lazy load 
img[data-src] {
    filter: blur(0.2em);
}
img {
    filter: blur(0em);
    transition: filter 0.5s;
}
body {
    text-align: center;
} */

/* footer */
.socials {
    margin: 1em;
}
.socials a {
    text-decoration: none;
}
.socials a img {
    width: 65px;
    max-width: 70%;
}
footer {
    background-color: #025780;
    text-align: center;
    font-family: 'Gugi', cursive;
    /* display: flex; */
}
footer a {
    color: white;
    text-decoration: none;
}
footer p {
    margin-left: 0;
}
.updateline {
    color: white;
}