/* small and standard view */
body {
    font-family: 'Taviraj', serif;
    background-image: url("paper.gif");
    background-color: #cccccc;
    background-image: url("../images/sunsetbeach.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0 auto;
    max-width: 1000px;
    font-weight: bold;
}
aside {
    background-color: #052142;
    color: white;
    margin: 0 auto;
    text-align: center;
    padding: 15px;
    box-shadow: 0px 3px 19px -3px rgba(0,0,0,0.71);
}
aside p {
    margin: 0;
}
header,
footer {
    padding: 1rem;
    color: white;
}
header {
    background-color: #05123B;
    justify-content: center;
    padding: 2em;
    display: flex;
    box-shadow: 0px 3px 19px -3px rgba(0,0,0,0.71);
}
header div {
    padding-top: 1.5em;
}
main {
    padding: 1em;
    font-size: 1.2em;
    background: rgba(151, 199, 184, 0.555);
}
.icon {
    max-width: 150px;
    padding: 2em;
}
li {
    padding: .2em;
}

h1 {
    font-family: 'Sonsie One', 'Gugi', cursive;;
}
h2, h3 {
    margin-left: .5em;
    font-family: 'Gugi', cursive, 'Sonsie One';
    text-align: center;
}
h3 {
    text-align: left;
    padding-left: .5em;
}
p {
    line-height: initial;
}
li p {
    line-height: 1em;
}
/* navagation */
nav {
    margin: 0 auto;
    background-color: #025780;
    box-shadow: 0px 3px 19px -3px rgba(0,0,0,0.71);
}
.navbar {
    list-style: none;
    padding: 0;
    max-width: 970px;
    margin: auto;
}
.navbar li:first-child {
    display: block;
    font-weight: bold;
}
.navbar li {
    display: none;
    padding: 0;
}
.navbar a {
    display: block;
    text-decoration: none;
    color: white;
    padding: .6em;
    font-size: larger;
}
.navbar a:hover {
    transition: font-style 0.5s;
    background-color:#003b58;
}
.responsive li {
    display: block;
}
.active {
    background-color: #003b58;
}
/* box standard */
#weathersummary, .prices, .cards {
    background: whitesmoke;
    border-radius: 30px 0;
    box-shadow: 5px 6px 15px 0px rgba(0,0,0,0.75);
}
/* content */
main section {
    margin: 25px auto;
    padding: 1px;
}
#weathersummary {
    border: 1px solid black;
    width: 300px;
    margin: 1em auto;
    padding: 1em;
    float: none;
}
#weathersummary p, h3 {
    padding: 5px;
    margin: 0;
    text-align: center;
}
th p {
    margin: 0;
}
.prices {
    max-width: 90%;
    border: 1px solid black;
    padding: 1em;
}
.prices h3 {
    margin-top: 1em;
}
.prices p {
    margin: .5em;
}
.prices table {
    border-spacing: 0px;
    margin: auto;
}
tr:nth-child(even) {
    background-color: #e4e4e4;   
}
.prices td, th, p {
    text-align: center;
}
.prices th p {
    width: 116px;
}
.cards {
    display: grid;
    grid-template-columns: 1fr;
    margin: 1em;
}
.cards section {
    margin: 0;
    margin-bottom: 2em;
    padding: .25em;
    text-align: center;
}
.cardpic {
    max-width: 80%;
}
.rules {
    margin: 1em 1em;
}
fieldset {
    display: flex;
    margin-bottom: 1em;
    background: whitesmoke;
    border-radius: 30px 0;
    box-shadow: 5px 6px 15px 0px rgba(0,0,0,0.75);
}
label {
    margin: 1em;
}
input {
    padding: 5px;
}
textarea {
    width: 80%;
    height: 100px;
    padding: 10px;
}
.cozumelinfo {
    text-align: center;
}
.cozumelinfo a {
    text-decoration: none;
    color: navy;
    padding: 1em;
}
.cozumelinfo ul {
    list-style: none;
}
.cozumelinfo img {
    float: none;
    max-width: 50%;
    border-radius: 30px 0;
    box-shadow: 5px 6px 15px 0px rgba(0,0,0,0.75);
}
.contactinfo {
    display: flex;
    flex-direction: column;
}
iframe {
    margin: 0 auto;
    background: rgb(192, 237, 255);
    border-radius: 30px 0;
    box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.75);
}
.references {
    margin: 1em auto;
    list-style: none;
    text-align: center;
    padding: 0;

}
.references a {
    text-decoration: none;
    color: navy;
}
/* footer */
.socials {
    margin: 1em;
}
.socials a {
    text-decoration: none;
}
.socials a img {
    width: 65px;
    max-width: 70%;
}
footer {
    background-color: #025780;
    text-align: center;
    font-family: 'Gugi', cursive;
    font-weight: normal;
}
footer a {
    color: white;
    text-decoration: none;
}
footer p {
    margin-left: 0;
}
.updateline {
    color: white;
}